<header class="header" style="background-image: url(img/header-bg.jpg);">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <a href="#">
          <img src="img/logo.png" alt="">
        </a>
      </div>
      <nav class="menu">
        <ul class="menu__list">
          <li>
            <a href="#">
              Главная
            </a>
          </li>
          <li>
            <a href="#">
              Харакетристики
            </a>
          </li>
          <li>
            <a href="#">
              Контакты
            </a>
          </li>
          <li>
            <a href="#">
              Купить
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__info">
      <h1 class="header__title">
        Audi R8
      </h1>
      <div class="header__text">
        — встречайте обновлённую модель легендарного автомобиля
      </div>
    </div>
  </div>
</header>