@import 'fonts';
@import 'vars';
@import 'global';

// start header
.header{
  min-height: 760px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__inner{
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
  }
}
.header__logo{
  img{
    width: 140px;
    height: 110px;
  }
}
.menu{
  display: flex;
  align-items: center;
}
.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 70px;
    }
  }
  a{
    @include OpenSans;
    color: #fff;
  }
}
.header__info{
  margin-top: 17px;
  color: #fff;
}
.header__text{
  font-size: 32px;
  line-height: 40px;
  width: 360px;
}
// end header

// start description
.description{
  padding: 140px 0 40px;
  &__title{
    margin-bottom: 40px;
  }
}
.description-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  &__info{
    max-width: 860px;
  }
  &__title{
    font-size: 24px;
    line-height: 32px;
    @include f700;
    margin-bottom: 20px;
  }
  &__text{
    font-size: 18px;
    line-height: 26px;
  }
  &__images{
    position: relative;
    img{
      width: 200px;
      height: 200px;
    }
    &::before{
      position: absolute;
      content: '';
      border: 1px solid #000;
      width: 200px;
      height: 200px;
      top: 12px;
      left: 12px;
      z-index: -5;
    }
  }
  &__border{
    position: relative;
    &::before{
        position: absolute;
        content: '';
        border: 1px solid #000;
        width: 200px;
        height: 200px;
        top: 12px;
        left: -12px;
        z-index: -5;
    }
  }
}
.description-box--left .description-box__info{
  order: 1;
}
// end description

// start purchase
.purchase{
  padding: 0 0 100px;
  &__title{
    margin-bottom: 35px;
    span{
      font-size: 37px;
      line-height: 45px;
      margin-left: 15px;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        background-image: url(../img/arrow-down.svg);
        width: 28px;
        height: 26px;
        right: -40px;
        top: 10px;
      }
    }
  }
}
.purchase__content{
  max-width: 250px;
  width: 100%;
  button{
    text-transform: uppercase;
    @include OpenSans;
    color: #fff;
    background-color: #000;
    border: none;
    padding: 10px 35px;
    cursor: pointer;
    letter-spacing: 2px;
    &:focus{
      outline: 3px solid $color-text;
    }
  }
}
.purchase__form-line{
  margin-bottom: 35px;
  input{
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    padding: 0 15px;
    font-size: 22px;
    line-height: 30px;
    @include f300;
    border: none;
    border-bottom: 1px solid #000;
    &::placeholder{
      color: $color-text;
      @include f300;
    }
  }
  label{
    display: block;
    width: 100%;
  }
}
// end purchase




@import 'media';